<section >
	<div class="panel">
<div class="row">
 <div class="small-5 columns"  >
	
		<h2>Our Information</h2>
		<ul class="contact">
			<li class="address">
				Archives Mountain<br />
				64 Barnabas Road Newtown,<br />
				CT 06470
			</li>
			<li class="email">
				<a href="mailto:info@ArchivesMountain.com">info@ArchivesMountain.com</a>
			</li>
			<li class="phone">
				Phone (203) 364-9272
			</li>
			<li class="phone">
				Toll Free (866) 996-9111
			</li>
			<li>
				Fax: (203) 714-7224
			</li>
		</ul>
	
      </div>
	  
      <div class="small-4  columns">
       
		<section>
			<h2>Our Services</h2>
			<ul class="style2">
				  <li><%= link_to_unless_current "Request a Quote", 'quote' %></li>
				
				<li class=""><%= link_to_unless_current "Offsite Media Storage", 'offsite_media_storage'  %> </li>
				<li class=""><%= link_to_unless_current "Data Protection & Recovery", 'data_protection'   %> </li>
				<li class=""><%= link_to_unless_current "Document Management", 'document_management' %> </li>
				<li class=""><%= link_to_unless_current "Online Backup & Recovery", 'online_backup_and_recovery'  %> </li>
				<li class=""><%= link_to_unless_current "Courier Service", 'courier'  %> </li>
				<li class=""><%= link_to_unless_current "Record Storage & Retrieval", 'record_storage'  %> </li>
				<li class=""><%= link_to_unless_current "Secure Document Shredding", 'secure_shredding' %> </li>
			
				
				
				
				
			</ul>
		</section>
	
      </div>
	  
      <div class="small-3  columns">
		
		<section>
			<h2>Links</h2>
			<ul class="style2">
				<li><%= link_to "Home", '/' %>
				<li class=""><%= link_to_unless_current "Knowledge Base", 'knowledge_base'  %> </li>
				<li class=""><%= link_to_unless_current "FAQs", 'faq'  %> </li>
		      
		        <li><%= link_to_unless_current "Contact us", 'contact' %></li>
				 <li><%= link_to_unless_current "About us", 'about' %></li>
		        <li><%= link_to_unless_current "Admin", 'admin'%></li>
		
			</ul>
		</section>
      </div>
	</div>
	  </div>
  </section>
   

					<div class="row">
						<div id="copyright">
							Copyright &copy; 2014 Archives Mountain All rights reserved.
						</div>
					</div>
				</footer>
			</div>

<!-- JQUERY -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/script.js"></script> -->

<!-- Start of StatCounter Code 
<script type="text/javascript">
	var sc_project=6211741; 
	var sc_invisible=0; 
	var sc_security="4ba4a7a3"; 
	</script><script type="text/javascript"
	src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
	class="statcounter"><a title="tumblr hit counter"
	href="http://statcounter.com/tumblr/" target="_blank"><img
	class="statcounter"
	src="http://c.statcounter.com/6211741/0/4ba4a7a3/0/"
	alt="tumblr hit counter" ></a></div></noscript>
 End of StatCounter Code -->

	</body>
</html>